<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <h1>Bem vindo ao sistema de notas.</h1>

    <p>
        Configure o método como GET e insira a rota "/". <br><br>
        [GET] /alunos <br>
        Configure o método como GET e insira a rota "/alunos". <br><br>
        [GET] /alunos/index <br>
        Configure o método como GET e insira a rota "/alunos/index". <br><br>
        [POST] /alunos <br>
        Configure o método como POST e insira a rota "/alunos". <br><br>
        Utilize uma requisição de body: <br>
        { <br>
        &nbsp; "index": 1; <br>
        &nbsp; "nome": "Eduardo"; <br>
        } <br><br>
        [POST] /notas <br>
        Configure o método como POST e insira a rota "/notas". <br>
        Utilize uma requisição de body:<br>
        {<br>
        &nbsp; "index": 1;<br>
        &nbsp; "notas": [8.0, 9.5, 10]<br>
        }
    </p>
</body>
</html>